/* Feature */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    height: 350px;
    color: #fff;
    background: $primary-color;
    border-radius: 10px;
    overflow: hidden;

    svg {
      margin: 10px 0 40px 0;
    }

    p {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .feature .feature-item {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    height: 200px;

    svg {
      margin: 0;
      width: 75px
    }
  }

  .feature .feature-item div:first-child {
    margin-right: 20px;
  }
}