/* Tout */
.tout {
  display: flex;
}

.tout> :first-child {
  flex: 0 0 40%;
}

.tout> :last-child {
  flex: 1 1 60%;
  padding-left: 4rem;
}

@media screen and (max-width: 767px) {
  .tout {
    flex-direction: column-reverse;
  }

  .tout> :last-child {
    margin-bottom: 2rem;
    padding: 0;
  }
}